<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диа формула</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a href="./index.html"><img class="header__logo" src="./media/logo.svg" alt="Логотип"></a>
                <h2 class="header__center">Кабинет</h2>
                <a class="header__btn-enter btn-rega" href="#">Давиденко А.А.</a>
            </div>
            <div class="header__content">
            <div class="header__form-center">
                <section class="header__form">
                    <div class="header__form-top">
                        <span class="header__form-text">Имя</span>
                    </div>
                    <div class="header__form-bottom">
                        <input class="header__form-input"  type="text" placeholder="Введите имя">
                        <img src="./media/plus.svg" alt="" class="addsmth">
                    </div>
                   
                </section>
                <section class="header__form">
                    <div class="header__form-top">
                        <span class="header__form-text">Фамилия</span>
                    </div>
                    <div class="header__form-bottom">
                        <input class="header__form-input"  type="text" placeholder="Введите фамилию">
                        <img src="./media/plus.svg" alt="" class="addsmth">
                    </div>
                   
                </section>
                <section class="header__form">
                    <div class="header__form-top">
                        <span class="header__form-text">Отечество</span>
                    </div>
                    <div class="header__form-bottom">
                        <input class="header__form-input"  type="text" placeholder="Введите отчество">
                        <img src="./media/plus.svg" alt="" class="addsmth">
                    </div>
                   
                </section>
                <section class="header__form">
                    <div class="header__form-top">
                        <span class="header__form-text">Рост</span>
                    </div>
                    <div class="header__form-bottom">
                        <input class="header__form-input"  type="text" placeholder="Рост">
                        <img src="./media/plus.svg" alt="" class="addsmth">
                    </div>
                   
                </section>
                <section class="header__form">
                    <div class="header__form-top">
                        <span class="header__form-text">Вес</span>
                    </div>
                    <div class="header__form-bottom">
                        <input class="header__form-input"  type="text" placeholder="Вес">
                        <img src="./media/plus.svg" alt="" class="addsmth">
                    </div>
                </section>
                <section class="header__form">
                    <div class="header__form-top">
                        <span class="header__form-text">Ваше фото</span>
                    </div>
                    <div class="header__form-bottom">
                        <input class="header__form-input"  type="text" placeholder="фото">
                        <img src="./media/plus.svg" alt="" class="addsmth">
                    </div>
                </section>
                <section class="header__form">
                    <div class="header__form-top">
                        <span class="header__form-text">углеводный коэфициент</span>
                    </div>
                    <div class="header__form-bottom">
                        <input class="header__form-input"  type="text" placeholder="углеводный коэфициент">
                        <img src="./media/plus.svg" alt="" class="addsmth">
                    </div>
                </section>
                <section class="header__form">
                    <div class="header__form-top">
                        <span class="header__form-text">чувствительность инсулина</span>
                    </div>
                    <div class="header__form-bottom">
                        <input class="header__form-input"  type="text" placeholder="чувствительность инсулина">
                        <img src="./media/plus.svg" alt="" class="addsmth">
                    </div>
                </section>
            </div>
            <div class="header__content-right">
                <img class="img__graph" src="./media/graph.png" alt="" class="grahp">
                <div class="content__right-btns">
                    <div class="left">
                    <a class="header__btn-import" href="./daily.html">Создать запись</a>
                    <a class="header__btn-import" href="#">Сохранить</a>
                    <a class="header__btn-import" href="./menu.html">Создать меню</a>

                    </div>
                    <div class="right">
                    <a class="header__btn-import" href="./litra.html">Литература</a>
                    <a class="header__btn-import" href="./products.html">Посмотреть продукты</a>
                    <a class="header__btn-import" href="#">Вывод отчета</a>
                    </div>
                
                </div>
            </div>
            </div>
    </header>
</body>
</html>