<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диа формула</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a href="./index.html"><img class="header__logo" src="./media/logo.svg" alt="Логотип"></a>
                <h2 class="header__center">Дневник</h2>
                <a class="header__btn-enter btn-rega" href="./cab.html">Давиденко А.А.</a>
            </div>
            <div class="header__form-center">
                <section class="header__form">
                    <div class="header__form-top">
                        <span class="header__form-text">Сахар</span>
                    </div>
                    <div class="header__form-bottom">
                        <input class="header__form-input" id="a" type="float" placeholder="Введите Сахар">
                    </div>
                   
                </section>
                <section class="header__form">
                    <div class="header__form-top">
                        <span class="header__form-text">Длительный инсулин</span>
                    </div>
                    <div class="header__form-bottom">
                        <input class="header__form-input"  type="text" placeholder="Какое значение">
                    </div>
                   
                </section>
                <section class="header__form">
                    <div class="header__form-top">
                        <span class="header__form-text"><a class ="header__form-text" href="./products.html">Меню</a></span>
                    </div>
                    <div class="header__form-bottom">
                        <input class="header__form-input" id="b" type="float" placeholder="Выберите что вы ели">
                    </div>
                   
                </section>
                <section class="header__form">
                    <div class="header__form-top">
                        <span class="header__form-text">Самочувствие</span>
                    </div>
                    <div class="header__form-bottom">
                        <input class="header__form-input"  type="text" placeholder="Как себя чувствуете?">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="radio" id= "4" value="0"  name="raz"/>
                           не было нагрузки
                        </label>
                        <label>
                            <input type="radio" id= "1" value="1"  name="raz"/>
                            Легкая нагрузка
                        </label>
                        <label>
                            <input type="radio" id= "2" value="2" name="raz"/>
                          Средняя нагрузка
                        </label>
                        <label>
                            <input type="radio" id= "3" value="3"  name="raz"/>
                           Сложная нагрузка
                        </label>
                        
                        <div id="outputField"></div>
                    </div>
                   
                </section>
                <section class="header__form">
                    <div class="header__form-top">
                        <span class="header__form-text">Итого</span>
                    </div>
                    <div class="header__form-bottom">
                        <input class="header__form-input"  type="text">
                        <div id="result" style="color: #5DC090; font-weight: 800; font-size: 18px;"></div>
                    </div>
                </section>
                <input class="submit" type="button" value="Сохранить" onclick="addition();"><br>
            </div>
    </header>
    <script src="./js/index.js"></script>
</body>

</html>