<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диа формула</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a href="./index.html"><img class="header__logo" src="./media/logo.svg" alt="Логотип"></a>
                <a class="header__btn-enter" href="./login.html">Войти</a>
            </div>
            <div class="header__content">
                    <div class="header__content-left">
                        <h1 class="header__title">Диа формула</h1>
                        <h2 class="header__title-min">Приложение, которое помогает облегчить вам жизнь!</h2>
                        <p class="header__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, obcaecati accusamus nihil natus molestiae inventore quos eos. Aliquid ipsum, exercitationem nostrum aut necessitatibus impedit in hic fugiat vitae blanditiis placeat.</p>
                        <a class="header__btn-rega" href="./rega.html">Регистрация <span class="header__arrow"></span></a>
                    </div>
                    <div class="header__content-right">
                        <img class="header__img" src="./media/heart.svg" alt="Контент">
                    </div>
            </div>
            <h2 class="header__down">Не только в виде сайта</h2>
        </div>
    </header>
    <section class="mobile">
        <div class="container">    
            <div class="mobile__row">
                <div class="mobile__left">
                    <p class="mobile__left-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo debitis quibusdam saepe eveniet eaque consequuntur fugiat provident similique voluptatum harum repudiandae, sit praesentium optio modi nemo? Vero ab aperiam excepturi!</p>
                    <a class="mobile__left-btn" href="#">Скачать</a>
                </div>
                <div class="mobile__right">
                    <img class="mobile__right-img" src="./media/telephone.svg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="opportunities">
        <div class="container">
            <h2 class="opportunities__h2">Возможности</h2>
            <div class="opportunities__row">
                <div class="opportunities__block">
                    <h3 class="opportunities__title">Cоставление меню на день</h3>
                    <p class="opportunities__text">Составьте индивидуальное меню
                        на каждый день</p>
                </div>
                <div class="opportunities__block">
                    <h3 class="opportunities__title">Рассчет дозы инсулина на еду</h3>
                    <p class="opportunities__text">Выбирайте продукты, система все сделает за вас, и поссчитает ХЕ и даже подскажет дозу короткого инсулина
                    </p>
                </div>
                <div class="opportunities__block">
                    <h3 class="opportunities__title">Литература</h3>
                    <p class="opportunities__text">Ознакомьтесь с литературой по сахарному диабету. Здесь все то, что вам пригодиться в жизни</p>
                </div>
                <div class="opportunities__block">
                    <h3 class="opportunities__title">Чат с врачем</h3>
                    <p class="opportunities__text">Общайтесь с врачем, задавая интересующие вас вопросы</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>