<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диа формула</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
               <a href="./index.html"><img class="header__logo" src="./media/logo.svg" alt="Логотип"></a>
                <h2 class="header__center">Литература</h2>
                <a class="header__btn-enter btn-rega" href="./cab.html">Давиденко А.А.</a>
            </div>
            <div class="header__content-menu">
            <div class="header__form-row">
                <section class="header__form-content">
                    <div class="form__content-title">Хлебные единицы</div>
                    <div class="form__content-menu">
                        <span class="litra">ХЕ</span>
                        <span class="litra">Что это такое и как рассчитать?</span>

                    </div>

                </section>
                <section class="header__form-content">
                    <div class="form__content-title">Памятки</div>
                    <div class="form__content-menu">
                        <span class="litra">ПМ</span>
                        <span class="litra">Что такое диабет?</span>

                    </div>

                </section>
                <section class="header__form-content">
                    <div class="form__content-title">Продукты</div>
                    <div class="form__content-menu">
                        <span class="litra">ПР</span>
                        <span class="litra">Какие продукты усваиваются быстро, а какие нет?</span>
                        
                    </div>

                </section>
                <section class="header__form-content">
                    <div class="form__content-title">Распечатки</div>
                    <div class="form__content-menu">
                        <span class="litra">РП</span>
                        <span class="litra">Материалы для помощи в пстановке инъекций</span>

                    </div>

                </section>
               
            </div>
            
            </div>

            
    </header>

</body>
</html>