<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диа формула</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <a href="./index.html"><img class="header__logo" src="./media/logo.svg" alt="Логотип"></a>
                <h2 class="header__center">Продукты</h2>
                <a class="header__btn-enter btn-rega" href="./cab.html">Давиденко А.А.</a>
            </div>
            <div class="header__content-menu">
            <div class="header__form-products">
                <section class="form__products-content">
                    <img src="./media/food.jpg" alt="" class="product">
                    <div class="form__content-description">
                        <span class="desc">Краткий состав</span>
                        <span class="prod">Б: 12</span>
                        <span class="prod">Ж: 13</span>
                        <span class="prod">У: 14</span>
                        <span class="prod">ХЕ: 1</span>
                        <a href="./menu.html" class="add__prod">Добавить</a>
                    </div>

                </section>
                </div>
                <div class="header__form-products">
                    <section class="form__products-content">
                        <img src="./media/1.png" alt="" class="product">
                        <div class="form__content-description">
                            <span class="desc">Краткий состав</span>
                            <span class="prod">Б: 23</span>
                            <span class="prod">Ж: 41</span>
                            <span class="prod">У: 11</span>
                            <span class="prod">ХЕ: 1</span>
                            <a href="./menu.html" class="add__prod">Добавить</a>
                        </div>
    
                    </section>
                    </div>
                    <div class="header__form-products">
                        <section class="form__products-content">
                            <img src="./media/2.png" alt="" class="product">
                            <div class="form__content-description">
                                <span class="desc">Краткий состав</span>
                                <span class="prod">Б: 34</span>
                                <span class="prod">Ж: 12</span>
                                <span class="prod">У: 54</span>
                                <span class="prod">ХЕ: 5</span>
                                <a href="./menu.html" class="add__prod">Добавить</a>
                            </div>
        
                        </section>
                        </div>
                        <div class="header__form-products">
                            <section class="form__products-content">
                                <img src="./media/3.png" alt="" class="product">
                                <div class="form__content-description">
                                    <span class="desc">Краткий состав</span>
                                    <span class="prod">Б: 122</span>
                                    <span class="prod">Ж: 23</span>
                                    <span class="prod">У: 52</span>
                                    <span class="prod">ХЕ: 6</span>
                                    <a href="./menu.html" class="add__prod">Добавить</a>
                                </div>
            
                            </section>
                            </div>
                            <div class="header__form-products">
                                <section class="form__products-content">
                                    <img src="./media/4.png" alt="" class="product">
                                    <div class="form__content-description">
                                        <span class="desc">Краткий состав</span>
                                        <span class="prod">Б: 234</span>
                                        <span class="prod">Ж: 234</span>
                                        <span class="prod">У: 543</span>
                                        <span class="prod">ХЕ: 23</span>
                                        <a href="./menu.html" class="add__prod">Добавить</a>
                                    </div>
                
                                </section>
                                </div>
                                <div class="header__form-products">
                                    <section class="form__products-content">
                                        <img src="./media/5.png" alt="" class="product">
                                        <div class="form__content-description">
                                            <span class="desc">Краткий состав</span>
                                            <span class="prod">Б:  543</span>
                                            <span class="prod">Ж: 56</span>
                                            <span class="prod">У: 56</span>
                                            <span class="prod">ХЕ: 5</span>
                                            <a href="./menu.html" class="add__prod">Добавить</a>
                                        </div>
                    
                                    </section>
                                    </div>
            </div>
            
            </div>

            
    </header>

</body>
</html>